<div>
        <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" hide-gt-xs ng-click="toggleList()">
                                <md-icon md-svg-src="/static/images/ic_filter_list_black_36px.svg" ></md-icon>
                        </md-button>
                        <h1>
                                Yoda Agencies
                        </h1>
                </div>
        </md-toolbar>
        <div layout-padding>
                <div ng-include=" './agency-list/agency-list.template.html' "></div>
                <md-button class="md-fab md-fab-bottom-right float-stick-fix" aria-label="Add agency" ng-click="scrollTop();showPrompt()" >
                        <md-icon md-svg-src="./static/images/ic_add_white_36px.svg"></md-icon>
                </md-button>
                <!--<div ng-include=" './agency-creator/agency-creator.template.html' "></div>-->
        </div>
</div>
