.server-errors {
        color: red;
}

.input-hint {
        color: grey; font-size: 10px;
}

.button-as-tag {
        min-height : 20px; line-height:normal; margin: 2px 2px;font-size: 12px;
}

/* https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically */
.full-centering {
        text-align:center; position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* BUG for fixing the button bottom position : https://github.com/angular/material/issues/2205 */
.float-stick-fix {
        position: fixed !important;
}