<md-dialog ng-controller="AgencyCreatorCtrller">
        <md-toolbar class="md-toolbar-tools">
                <h3>Agency-creator</h3>
        </md-toolbar>
        <md-dialog-content layout-padding>
                <div layout="column">
                        <md-input-container><label>Name: </label><input md-autofocus type="text" ng-model="addform.name" placeholder="Agency's name"></md-input-container>
                        <md-input-container><label>Description: </label><textarea type="text" rows="5" ng-model="addform.description" placeholder="Agency's description"></textarea></md-input-container>
                        <md-input-container>
                                <label>Tags:</label>
                                <input type="text" ng-model="addform.tags" placeholder="Tags">
                                <div style="color: grey"></div>
                        </md-input-container>


                        <md-input-container>
                                <label>Grade: </label>
                                <md-select type="text" ng-model="addform.grade" placeholder="Agency's name">
                                        <md-option ng-repeat="gradeKey in gradeKeys" value="gradeKey" ng-value="gradeKey">
                                                {{gradeMapper[gradeKey]}}
                                        </md-option>
                                </md-select>
                        </md-input-container>

                        <md-dialog-actions>
                                <md-button ng-click="closeDialog()" class="md-primary">Close</md-button>
                                <md-button ng-click="addAgency()">Submit</md-button>
                        </md-dialog-actions>
                </div>
        </md-dialog-content>
</md-dialog>